body{
    background-image: url('images/weather_BG.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.button{
    color: black;
    background-color: red;
}
.InputField{
    margin-top:17%;
    width:50%; 
    margin-left:27%;
 
}